{%- extends "base.html" %}
{% block content %}
<h3>Users Dashboard</h3>
<table id="data" class="table table-striped">
    <thead>
        <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{%- endblock %}
